@import './modal.css';
@import './todo.css';

html {
    height: 100%;
    font-size: 16px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

body.light-theme {
    height: 100%;
    min-height: 100%;
    font: normal 400 15px/24px 'Roboto', sans-serif;
    color: #121212;
    background-color: #f6f7f8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.3s;
}

body.dark-theme {
    height: 100%;
    min-height: 100%;
    font: normal 400 15px/24px 'Roboto', sans-serif;
    background-color: #121212;
    color: #f6f7f8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.3s;
}

div {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #336fee;
    outline: none;
    text-decoration: none;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

button {
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border: 0;
    background: lightgray;
}


.main-btn.light-theme {
    background: lightgray;
    transition: 0.3s;
}

.main-btn.dark-theme {
    background: darkslategray;
    transition: 0.3s;
}

.main-btn.light-theme:hover {
    background: orange;
    transition: 0.3s;
}

.main-btn.dark-theme:hover {
    background: #6e87e1;
    transition: 0.3s;
}

a:hover {
    color: #6e87e1;
}

img {
    width: 100%;
}

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

.app {
    margin: 0 auto;
    visibility: visible;
}

.container {
    max-width: 1200px;
}

.add-todo {
    padding: 20px 0;
    margin-bottom: 20px;
}

.todo-list {
    display: flex;
    flex-flow: column nowrap;
}

.todo-list__item + .todo-list__item {
    margin-top: 20px;
}
